*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: inherit;
}
ul{
    list-style-type: none;
    padding-left: 0%;
}

/* recipe card styling */
.ingredients, .instructions{
    margin-top: 2rem;
    text-align: justify;
}
.ingredients li{
    list-style-type: square;
}
.instructions li{
    margin-bottom: 1em;
    list-style-type: none;
}
.instructions span {
    font-weight: 600;
}

.recipeHead{
    background-color: #a4cbe6c3;
    border-radius: 100%;
}
.recipeHead>h3{
    margin: 1rem 0;
    font-family: 'Noto Serif Display', serif;
    font-weight: 800;
}
.recipeCard h4{
  font-family:  'Noto Serif Display', serif;
  font-size: 16px;
  font-weight: 700;
}
.recipeCard{
    padding: 2rem;
    background-color: aliceblue;
    box-shadow: 1px 1px 4px #0f212e, -1px -1px 4px #0f212e;
}

.recipeCard img{
    
    border-radius: 5%;
    border: .5px solid rgba(0, 0, 0, 0.234);
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.pageitem>button{
    background-color:#5989ac;
    margin: 3px;
}
.cPC{
    width: 4rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.currPage{
    font-family:  'Noto Serif Display', serif;
    font-weight: 600;
    width: 4rem;
    
}
/* rpp end */
.anibox>img{
    animation-name: mydish;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0.25, 0.25, 025, 0.25);
    transition: all 2s ease-in-out 3;
    
}
.anibox img:hover{
    width: 50px;
    content: url(./assets/dish-icon.svg);
}
.anibox img:hover::after{
    content: url(./assets/food.png);
    width: 43;
    height: 43;
}
@keyframes mydish {
    0%{
        transform: rotate(40deg);
    }
    25%{
        transform: rotate(-40deg);
    }
    50%{
        transform: rotate(30deg);
    }
    100%{
        transform: rotate(-30deg);
    }
}

.btn2{
    width: 130px;
    background-color: #48718f;
}



.collapse.navbar-collapse .btn{
    width: 100%;
    transition: all ease-in-out 0.5s;
}

.navbar-brand span {
    font-weight: 600;
    margin-left: 10px;
    font-family: 'Noto Serif Display', serif;
}
h2,h5{
    font-weight: 800;
    color: black;
    font-family: 'Noto Serif Display', serif;
}
html {
   height: 100vh;
   width: 100vw;
}

  

main {
    overflow: auto;
    height: 100vh;
    
}


.flex {
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    flex-wrap: wrap;
    
}
.gradient-background {
    opacity: 0.9;
    background: radial-gradient(rgba(88, 159, 174, 0.774),rgba(198, 209, 221, 0.582),rgba(10, 51, 128, 0.5));
    background-size: 100% 100%;
    /* animation: gradient-animation 9s ease-in-out infinite; */
  }
  
  /* @keyframes gradient-animation {
    0%,100% {
      background-size: 95% 95%;
    }
    50% {
      background-size: 105% 105%;
    }
    25%,75% {
      background-size: 95% 85%;
  }
} */
.flexItem{
  box-shadow: 3px 3px 10px ,-3px -3px 10px;
  margin-bottom: 20px;
  flex-shrink: 1 1 1;
  margin: 20px;
  border-radius: 25px;
    overflow: hidden;
}


/* notes app */
/* I is for textarea input */
.flex-I{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative; 
}

.titleI{
    border: .5px solid rgba(0, 0, 0, 0.526);
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    border-bottom: none;
    padding: 0 4px;
}
.noteI{
    border: .5px solid rgba(0, 0, 0, 0.526);
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
    border-top: none;
    padding: 0 4px;
}
.pinned li{
    border-color: black;
    border-width: 2px;
}

.aside2 {
    padding-top: 70px;
    padding-bottom: 50px;
    position: absolute; 
    overflow-y: auto; 
    display: flex;
    flex-direction: column;
    background-color: #c9e1f2fc;
}
p{
    margin: 0%;
    padding: 2px;
}

.add-btn{
   position: absolute;
   left: 14.5rem;
   bottom: -0.5rem;
   width: 1.5rem;
   height: 1.5rem;
   border-radius: 50%;
   background: #5989ac;
}
.pin-btn, .del-btn{
    border-radius: 30%;
   background: #5989ac;
}
.btnDiv{
    padding-top: .5rem;
}


/* render notes  */
.flex-ul{
    display: flex;
    flex-wrap: wrap; 
    padding-left: 0%;
}
.note{
    border: .5px solid rgba(0, 0, 0, 0.526);
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 1em auto;
    overflow: auto;
    padding: 0 4px;
}
.flexBtwn{
    display: flex;
    justify-content: space-between;
}
.notetitle{
    align-self: flex-end;
    font-weight: 600;
    font-size: 20px;
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.seperator{
    margin-bottom: 0.5em;
    margin-top: 0.3em;
}
/* notes */

.imagewrap{
   position: relative;
}
.carousel-inner{
    position: relative;
}
.carousel-caption{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(41, 106, 124, 0.495);
    opacity: 0;
}
.carousel-caption:hover{
    opacity: 1;
}
.imagewrap img{
    width: 250px;
    height: 300px;
    object-fit: cover;
}
.flexItem .btn{
    background-color: #48718f;
}
.myimg{
    border-radius: 50%;
    border: 2px solid black;
}


@media (max-width:984px){
      ul.navbar-nav{
        width: 100%;
        transition: all ease-in-out 0.5s;
        
    }
}
@media (min-width:984px){
    .flex2{
        display: flex;
        align-items: center;
        justify-content: space-around;
       }
}
@media (max-width:450px){
    .hideOnSm{
      display: none;
    }
}

.contactMe{
    position: absolute;
    z-index: 55;
    top: 0%;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contactMe .card{ 
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: hsl(205, 43%, 67%);
    box-shadow: inset 2px 2px 5px, inset -2px -2px 5px;
    line-height: 2.5;
    padding: 30px;
}
.contactMe span{
    font-family: 'Noto Serif Display', serif;
    font-weight: 600;
}
.infoBox.card{
    background-color: rgb(101, 106, 109);
    padding-bottom: 3px;
    position: absolute;
    z-index: 1024;
    top: 0%;
    padding: 0 3px;
    border: 1px solid #0f212e;
}

.hidden{
    display: none;
}
.infoBtn:hover + .hidden{
    display: block;
 }


.timeBox{
    margin-left: 5px;
    font-weight: 500;
    color: black;
    border: 1px solid;
    padding: 3px;
}

.timeBox button{
    background-color:#48718f ;
    border: none;
}
 .timeBox button svg{
    border: none;
    margin-bottom: 5px;
    background-color:#48718f ;
 }
 

 

 