*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: inherit;
}
ul{
    list-style-type: none;
}
.anibox>img{
    animation-name: mydish;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0.25, 0.25, 025, 0.25);
    transition: all 2s ease-in-out 3;
    
}
.anibox img:hover{
    width: 50px;
    content: url(./dish-icon.svg);
}
.anibox img:hover::after{
    content: url(./food.png);
    width: 43;
    height: 43;
}
@keyframes mydish {
    0%{
        transform: rotate(40deg);
    }
    25%{
        transform: rotate(-40deg);
    }
    50%{
        transform: rotate(30deg);
    }
    100%{
        transform: rotate(-30deg);
    }
}
.btn{
    width: 115px;
}
.btn2{
    width: 130px;
    background-color: #48718f;
}



.collapse.navbar-collapse .btn{
    width: 100%;
}
.navbar-brand span {
    font-weight: 600;
    margin-left: 10px;
    font-family: 'Noto Serif Display', serif;
}
h2{
    font-weight: 400;
    color: rgb(92, 73, 59);
    font-family: 'Noto Serif Display', serif;
}
html {
   height: 100vh;
   width: 100vw;
}

  

main {
    overflow: auto;
    height: 100vh;
    
}


.flex {
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    flex-wrap: wrap;
    
}
.gradient-background {
    opacity: 0.9;
    background: radial-gradient(rgba(88, 159, 174, 0.774),rgba(198, 209, 221, 0.582),rgba(10, 51, 128, 0.5));
    background-size: 100% 100%;
    /* animation: gradient-animation 9s ease-in-out infinite; */
  }
  
  /* @keyframes gradient-animation {
    0%,100% {
      background-size: 95% 95%;
    }
    50% {
      background-size: 105% 105%;
    }
    25%,75% {
      background-size: 95% 85%;
  }
} */
.flexItem{
  box-shadow: 3px 3px 10px ,-3px -3px 10px;
  margin-bottom: 20px;
  flex-shrink: 1 1 1;
  margin: 20px;
  border-radius: 25px;
    overflow: hidden;
}

.imagewrap{
   position: relative;
}
.carousel-inner{
    position: relative;
}
.carousel-caption{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(41, 106, 124, 0.495);
    opacity: 0;
}
.carousel-caption:hover{
    opacity: 1;
}
.imagewrap img{
    width: 250px;
    height: 300px;
    object-fit: cover;
}
.flexItem .btn{
    background-color: #48718f;
}
.myimg{
    border-radius: 50%;
    border: 2px solid black;
}

@media (max-width:984px){
      ul.navbar-nav{
        width: 100%;
        display: block;
    }
}
@media (min-width:984px){
    .flex2{
        display: flex;
        align-items: center;
        justify-content: space-around;
       }
}
.contactMe{
    position: absolute;
    z-index: 55;
    top: 0%;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contactMe .card{ 
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(112, 160, 188);
    box-shadow: inset 2px 2px 5px, inset -2px -2px 5px;
    line-height: 2.5;
    padding: 30px;
}
.contactMe span{
    font-family: 'Noto Serif Display', serif;
    font-weight: 600;
}
.infoBox.card{
    background-color: rgb(101, 106, 109);
    padding-bottom: 3px;
    position: absolute;
    z-index: 1024;
    top: 0%;
    padding: 0 3px;
    border: 1px solid #0f212e;
}

.hidden{
    display: none;
}
.infoBtn:hover + .hidden{
    display: block;
 }


.timeBox{
    margin-left: 5px;
    font-weight: 500;
    color: black;
    border: 1px solid;
    padding: 3px;
}

.timeBox button{
    background-color:#48718f ;
    border: none;
}
 .timeBox button svg{
    border: none;
    margin-bottom: 5px;
    background-color:#48718f ;
 }

 

 